langchain==0.3.27
langchain_openai==0.3.32
matplotlib==3.10.6
networkx==3.3
nltk==3.9.1
numpy==2.3.2
pandas==2.3.2
Pillow==11.3.0
plotly==5.24.1
python-dotenv==1.1.1
scikit_learn==1.7.1
sentence_transformers==4.1.0
streamlit==1.41.1
torch==2.2.2
tqdm==4.66.4
transformers==4.51.3
